.home {
  height: 100vh;
  width: 100%;
  background-image: url(../luca-bravo-XJXWbfSo2f0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 0;
}
header {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-100px);
  animation-name: simpleAnimation;
  animation-fill-mode: forwards;
  animation-delay: 0.35s;
  animation-duration: 0.4s;
}
.myName {
  font-size: 4rem;
  font-weight: 300;

  text-align: center;
}
.myName span {
  color: #2960f7;
  font-weight: 500;
}
.jobTitle {
  color: #2960f7;
  background-color: #363d56;
  padding: 7px 25px;
  border-radius: 25px;
  margin: 15px 0;
  opacity: 1;
}
.welcomeKeyword {
  font-size: 1.5rem;
}
h1,
.welcomeKeyword {
  margin: 10px 0;
}

@keyframes simpleAnimation {
  /* 0% {
    opacity: 0;
    transform: translateY(-100px);
  } */
  60% {
    opacity: 1;
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
