.navbarContainer {
  position: fixed;
  bottom: 35px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}
.navbar {
  /* background-color: #15142e; */
  background-color: rgba(21, 20, 46, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 20px;
  border-radius: 29px;
}

.itemContainer {
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 0px 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.itemContainer:hover {
  background-color: #3075a4;
}

.itemContainer.active {
  background-color: #3075a4;
}

.popup {
  position: absolute;
  z-index: 99999999;
  background-color: #3075a4;
  color: white;
  padding: 5px 13px;
  border-radius: 25px;
  top: -50px;
  left: -50%;
  /* margin: auto; */
  opacity: 0;
  transform: translateY(-15px);
  transition: all 0.5s;
}

.itemContainer:hover .popup {
  opacity: 1;
  transform: translateY(0);
}

.popup {
  pointer-events: none;
}
